<div title="Check">
  
  <p>
  	Correct: {{correct}}  of {{total}}<br/>
    Score: {{ percent }}%<br/>
   </p>
   
   <p>
   	Your score will not be submitted to the markbook. <br />
   	Use 'Try again' to keep practising.
   </p>
  
  <div class="last-buttons">
    <a href="#" data-button="close">Close</a>
  </div>
</div>
