.interaction.ic-crossword .crossword_view .cell-hilite {
    background-color: #fae1ab;
}

.interaction.ic-crossword .crossword_view>table {
	border-collapse: separate;
	border-spacing: 10px 0;
}

.crossword_view .cell input {
width: 25px;
height: 25px;
border: none;
text-align: center;
}

.crossword_view .cell {
border: 1px darkgray solid;
}


.crossword_view .clue-cell-enum {
	font-size: 0.8em;
    left: 2px;
    top: -3px;
}

.crossword_view .clue-enum {
	padding-right: 1em;
	color: #1A78B1;
	font-weight: bold;
}