div.input-radio-hover {background-color:#a9d9ae !important;}


.input-radio input[type="radio"] {margin-right: 10px;}

textarea {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
}


.interaction.is-radiobutton .choice_interaction .input-radio {clear: left;}

.choice_interaction .input-radio-hover,
.choice_interaction .input-checkbox-hover {background-color:#e3e3e3 !important;}

.choice_interaction .clickedanswer.input-noradio-hover span.item {color: #333;}

.choice_interaction .clickedanswer {
	background-color:#7a7a7a;
	webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	color: #fff !important;
}
.choice_interaction .clickedanswer.input-checkbox {color: #fff;}



div.input-radio-hover {
	background-color:#e3e3e3 !important;
}

.choice_interaction .input-radio, 
.choice_interaction .input-checkbox {
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    cursor: default;
    display: block;
    float: left;
    line-height: 18px;
    margin: 0 6px 2px 0;
    min-height: 0;
    padding: 4px 10px 3px;
}


.interaction.is-radiobutton .choice_interaction.algn-hor .input-radio, 
.interaction.is-radiobutton .choice_interaction.algn-hor .input-noradio {
	clear: none;
}
