<div title="Results">
  
  <p>
    Correct: {{ percent }}%<br/>
    Score: {{correct}}  of {{total}}<br/>
  </p>
  
  <div class="last-buttons">
    <a href="#" data-button="close">Close</a>
  </div>
</div>
