
/* VENDOR-TRANSFORM */

.interaction.package-editable.im-marking .contentblock p span {
	line-height: 19px;
}

.interaction.package-editable.im-marking .contentblock p span:first-child {
	margin-left: 1.5em;
}


.interaction.package.im-marking .markable {
	font-size: 13px;
}



.interaction.toolbar .toolbar .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	box-shadow:inset 0px 1px 0px 0px #dcdcdc;
	background: #656565; /* Old browsers */
background: -moz-linear-gradient(top,  #656565 0%, #353535 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#353535)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #656565 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #656565 0%,#353535 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #656565 0%,#353535 100%); /* IE10+ */
background: linear-gradient(to bottom,  #656565 0%,#353535 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#353535',GradientType=0 ); /* IE6-9 */


	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4f4f4f;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:15px;
	/*font-weight:bold;*/
	padding: 4px 8px !important;
	text-decoration:none;
	text-align: center;
	width: auto !important;
	}



.interaction.toolbar .toolbar .button.activated {
	background: #353535; /* Old browsers */
background: -moz-linear-gradient(top,  #353535 0%, #656565 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#656565)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #353535 0%,#656565 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #353535 0%,#656565 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #353535 0%,#656565 100%); /* IE10+ */
background: linear-gradient(to bottom,  #353535 0%,#656565 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#656565',GradientType=0 ); /* IE6-9 */


  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  border: solid 1px #909090;
  }
  
  

.interaction.toolbar .toolbar {
	background: #f5f5f5;
	padding:12px !important;
	border-radius:5px;
	overflow: auto;
	margin: 0 !important;
}