/* subtitles */
.video_wrapper .subtitles {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  padding: 4px 5%;
  width: 90% !important;
  bottom: 32px !important;
}

.video_wrapper .subtitles.subtitles-small {
  font-size: 13px;
  padding: 3px 5%;
}

.video_wrapper .subtitles.subtitles-large {
  font-size: 20px;
  padding: 5px 5%;
}

.video_wrapper .subtitles.fullscreen {
  font-size: 20px;
}

