<div title="Reset">
  <p>
    Your answers will be cleared. Do you want to continue?  </p>

  <div class="last-buttons">
    <a href="#" data-button="cancel">No</a>
    <a href="#" data-button="ok">Yes</a>
  </div>
</div>
