<div title="Submit">
  <p>
    You have not completed all the questions. 
  </p>
  <p>
  	Are you sure you want to submit to the markbook?
  </p>

  <div class="buttons">
    <a href="#" data-button="ok">Submit</a>
    <a href="#" data-button="cancel">Cancel</a>
  </div>
</div>
