<!-- Standard template with 2 columns,  left col=interaction, right col=small media -->

<div id="rubric" class="activity_small_media">
</div>

<div id="content" style="float: left; width: 510px;" class="activity_small_media">
</div>

<div id="media" style="float: right; width: 160px; margin: 0 10px 15px 10px;" class="activity_small_media">
</div>

<!--content and media divs widths altered to fix ticket #5 where sizes were not quite right. Will need to change again when addressing ticket #2 which will move padding to the content-wrap element and remove some margin settings from these boxes (currently defined in default.css)-->